* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #bbde50, #bb7111);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main-container {
  text-align: center;
}

.main-container h1 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #333;
}

.card-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.option-card {
  background-color: rgb(78, 2, 2);
  width: 280px;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(218, 240, 23, 0.911);
  transition: transform 0.3s ease;
}

.option-card:hover {
  transform: translateY(-8px);
}

.option-card button {
  width: 100%;
  padding: 15px;
  font-size: 1.1rem;
 background-color: #4d2d04;
  color: rgb(237, 233, 233);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option-card button:hover {
  background-color: #0f8b75;
}

.option-card p {
  margin-top: 15px;
  font-size: 0.95rem;
  color: #f3c667;
}